.status {
    padding: 0.5em 2em;
    border-radius: 2rem;
    position: relative;
}

.available {
    background: #c0eb75;
}

.not-available {
    background: #74c0fc;
}

.under-the-load {
    background: #ffc078;
}
