.unit-information {
    position: relative;
    min-width: 7em;
}

.unit-number {
    padding: 0.5em 1em;
    background-color: #8ce99a;
    border-radius: 1em;
}

.not-active-unit {
    background: #adb5bd55;
    color: #00000033;
}

.is-reserved {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    cursor: pointer;
}

.not-active {
    color: #00000033;
}