.supplies {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.supply-item {
    display: flex;
    justify-content: space-between;

    background: #a9e34b;
    padding: 0.125em 0.25em;
    border-radius: 0.5em;
    gap: 0.5em;

    font-size: 0.75em;
    font-weight: 600;
}

.supply-item.absent {
    background: #adb5bd55;
    color: #00000033;
}

.supply-item:hover {
    transform: scale(1.1);
}