.vehicle-equipment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 0.25em;
}

.vehicle-equipment-item {
    background: #4dabf7;
    padding: 0.125em 0.250em;
    border-radius: 0.5em;
    font-size: 0.75em;
    font-weight: 600;
}

.vehicle-equipment-item.absent {
    /* display: none; */
    background: #adb5bd55;
    color: #00000033;
}

.vehicle-equipment-item:hover {
    transform: scale(1.1);
}
